@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Blaka+Hollow&family=Holtwood+One+SC&family=Rubik+Glitch&display=swap');

body {
    background-color: black;
}

.tenis01 {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-top: 5%;
}

.tenis01 > .produto {
    width: 40%;
    border-radius: 20px;
}
.tenis01 h1 {
    font-size: 43px;
    font-family: 'Rubik Glitch', cursive;
    padding-left: 100px;
    color: rgb(255, 255, 255);
}

.tenis01 p {
    font-family: 'Bangers', cursive;
    font-size: 20px;
    padding-top: 3%;
    padding-left: 19%;
    padding-right: 20%;
    color: rgb(170, 164, 164);;
}

.texto h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
    padding-top: 1%;
    padding-left: 30%;
    padding-right: 20%; 
    color: #04d9ff;
}

a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 36%;
    color: white;
    background-color: #04d9ff;
    font-size: 35px;
    text-decoration:none;
    padding: 13px;
    border: 5px  #ffffff;
    border-radius: 25px;
}

.botão {
    text-decoration:none
}


.produto {
    background-color: #a4f1ff;
    padding: 3px;
}

a:hover {
    background-color: #ffffff;
    color: #04d9ff;
    border: 5px solid #04d9ff;
}